*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #EC407A;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.hamburger-box{
	background-color: transparent;
	outline: none;
	border: none;
	height: 24px;
	cursor: pointer;
	transition: .15s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hamburger-box:hover{
	opacity: .7;
}
.hamburger{
	position: relative;
}
.hamburger:before,
.hamburger:after{
	content: '';
	position: absolute;
	left: 0;
}
.hamburger,
.hamburger:before,
.hamburger:after{
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	transition: .15s;
}
.hamburger:before{
	top: -10px;
}
.hamburger:after{
	top: 10px;
}
.hamburger-box.active .hamburger{
	transform: rotate(-180deg);
}
.hamburger-box.active .hamburger:before{
	transform:  translateX(8px) rotate(45deg) scaleX(.7);
}
.hamburger-box.active .hamburger:after{
	transform: translateX(8px) rotate(-45deg) scaleX(.7);
}